section {
        	text-align: center;
    		padding-top: 100px;
        	padding-bottom: 100px;
   	 	}
    	.foto-stil {
        	width: 180px;
        	height: 240px;
        	margin: 17px; /* abstand zwischen bildern */
        	object-fit: cover; /*passt format an, damit keine verzerrungen entstehen*/
   	 	}